.link_content{

    
    flex-direction: column;
    padding:15px;
    background-color: white;
    align-content: center;
    font-weight: bold;
    box-shadow: 3px 0px 1px whitesmoke;

    border-radius: 10px;
    color:blue;
    
}
.link_content a{
    padding-bottom:3px;
    text-decoration: none;
    
}
.link_content a:hover{
    color:red;
    transition: 0.5s;
    
}
